{% extends "old/base_old_project.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
            
<!-- .......... Home Image .......... -->
<div class="uk-grid uk-container-center uk-text-center">
    <div class="uk-width-1-1 uk-container" style="height:100px"></div>
    <div class="uk-width-1-1 uk-container">
        <p class="title-text">CATrait</p>
    </div>
    <br>
    <br>
    <div class="uk-width-9-10 uk-container-center uk-container">
        <p class="font-el"><i>Art Portrait • Fashion Design • Fashion Campaign</i></p>
    </div>
    <br>
    <br>
    <br>
    <div class="uk-width-small-9-10 uk-width-medium-4-10 uk-width-large-4-10 uk-container-center uk-grid font-el uk-padding-remove">
        <div class="uk-width-1-2 uk-padding-remove">
            <p>CATEGORY
                <br>
            <b>Branding / Illustration</b></p>
        </div>
        <div class="uk-width-1-2 uk-padding-remove" style="border-left:1px solid #000">
            <p>DATE
            <br>
            <b>Since 2015</b></p>
        </div>
    </div>
</div>

<br>
<br>

<!-- .......... Home Image .......... -->
<div class="uk-clear-fix">
    <img src="{% static 'old_image/1_landing.jpg' %}" alt="">
</div>

<!-- .......... Cat Portrait .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="catportrait">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/2_intro_s.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... Cat Portrait intro .......... -->
<div style="background-color:#F2F0F1;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">The Portraits Just for Cats</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                Shopping malls, theme parks, busy streets…there are so many locations you could get a portrait of your own. Looking at your gorgeous cats, do you wish to have their special ones?
                <br>
                <br>
                CATRAIT by Changchang believes that every cat should have its own special look. The portraits are artsy and stylish.
                </p>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

<!-- .......... Box .......... -->

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/c_1_screens.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/c_2_home.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/c_3_office.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/shop_banner_christmas.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/d_collar_design_1.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... Catrait intro .......... -->
<div style="background-color:#F8F7F3;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">
        The Premium Brand <br><br><br>
        For Cat's Fashion
    </h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                From the design, craft, packaging to the selling of cat collars, CATRAIT by Changchang gives cat lovers and cats the premium experience.
                </p>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/d_collar_design_2.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/tiao.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<div style="height:20px">
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/pi.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <a href="https://www.etsy.com/shop/CATraitChangchang?ref=hdr_shop_menu" target="_blank"><img src="{% static 'old_image/g_sellonetsy.jpg' %}" class="uk-vertical-align-center"></a>
        </li>
    </ul>
</div>

<!-- .......... Etsy intro .......... -->
<div style="color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555"><a href="https://www.etsy.com/shop/CATraitChangchang?ref=hdr_shop_menu" target="_blank">Available on Etsy</a></h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                Cat lovers from all across the world love what <a href="https://www.etsy.com/shop/CATraitChangchang?ref=hdr_shop_menu" target="_blank"><b>CATRAIT by Changchang</b></a> is doing and the notion it is striving to convey.
                </p>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

{% endblock %}
