{% extends "old/base_old_project.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}

<!-- .......... Home Image .......... -->
<div class="uk-grid uk-container-center uk-text-center">
    <div class="uk-width-1-1 uk-container" style="height:100px"></div>
    <div class="uk-width-small-9-10 uk-width-medium-4-10 uk-width-large-4-10 uk-container-center uk-grid font-el uk-padding-remove">
        <div class="uk-width-1-2 uk-padding-remove">
            <p>CATEGORY
                <br>
            <b>UI/UX Design</b></p>
        </div>
        <div class="uk-width-1-2 uk-padding-remove" style="border-left:1px solid #000">
            <p>DATE
            <br>
            <b>Aug. 2015</b></p>
        </div>
    </div>
</div>

<br>
<br>

<!-- .......... Home Image .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/chummy0.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<div style="height:20px">
</div>

<!-- .......... Chummy intro .......... -->
<div style="color:#555" id="resume">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">Chummy</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                <a href="http://banmi.com/#/home" target="_blank">chummy.com</a> is a o2o platform founded in the heart of Silicon Valley, by people who are passionate in traveling all across the world.

                <br>
                <br>
                One can share his/her time, knowledge, travel experience to others; find the local people who have the same interests; experience the most unique and special cultures, places and activities— and finally sharing the happiness, making the trip  THE trip.
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <br>
    <p class="title-text font-el uk-text-center">The Personas</p>
    <br>
    <br>
    <div class="uk-grid uk-container-center">
    <div class="uk-width-9-10 uk-grid uk-container-center">
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <div class="uk-text-center">
                <img src="{% static 'old_image/persona1.png' %}" style="height:auto;max-width:60%"/>
            </div>
            <br>
            <p class="font-m uk-text-large">Qingxia Lin, Traveler</p>
            <p class="font-el uk-text-left">Qingxia loves traveling and she is always looking forward experiencing new culture, food and everything. Recently she is planning going to San Francisco. Instead of doing research online and following handbooks as always,  this time she wants someone local to show her the best way to explore this place. She is hoping that her trip could be unique and special.</p>
            <br>
        </div>
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <div class="uk-text-center">
                <img class="uk-container-center" src="{% static 'old_image/persona2.png' %}" style="height:auto;max-width:60%"/>
            </div>
            <br>
            <p class="font-m uk-text-large">Daniel Tucker, Local</p>
            <p class="font-el uk-text-left">Born and raised in the Bay Area, Daniel loves and knows this place more than anybody else. Whenever he has friends visiting, he can always find out great ways to show them around the area. In his spare time, he loves surfing, exploring nice restaurants, discovering the unique sides of the city and so on. He is willing to share his experience and time, and making friends with people across the world.</p>
            <br>
        </div>
    </div>
    </div>
    <br>
    <br>
</div>


<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <br>
    <p class="title-text font-el uk-text-center">The Storyboard</p>
    <br>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/chummy_storyboard.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <br>
    <p class="title-text font-el uk-text-center">The Wireframe</p>
    <br>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/chummy2.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

    <!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/chummy3.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow style="background-color:#F4F0F1">
    <br>
    <br>
    <p class="title-text font-el uk-text-center">The Pattern Library</p>
    <br>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/chummy_pattern_lib.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <a href="http://banmi.com/#/home" target="_blank"><img src="{% static 'old_image/chummy4.jpg' %}" class="uk-vertical-align-center"></a>
        </li>
    </ul>
</div>

<br>

<!-- .......... Chummy intro .......... -->
<div style="color:#555">
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555"><a href="http://banmi.com/#/home" target="_blank">Visit Chummy</a></h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                Changchang did the UX/UI design at the early stage. She worked closely with the project manager and developers.
                </p>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

{% endblock %}
