{% extends "base.html" %}
{% load staticfiles %}
{% load mathfilters %}

{% block content %}
<!-- .......... Home Image .......... -->
<div class="uk-clear-fix">
    <img src="{% static 'old_image/la_0_home_1.jpg' %}" alt="">
</div>

<div style="height:20px">
</div>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la_0_home.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 2 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la_1_home.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... Residential intro .......... -->
<div style="color:#555">
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">
        High-end Residential Design
        <br>
        <br>
        <br>
        For Top Billionares 
    </h1>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el subtitle-text" style="color:#555">
        Patience . Egoless . Details
    </h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                Working on very high-end private projects has strengthened Changchang’s qualities like: attention to details, patience and egoless. In the process, she worked on construction documents, perspective renderings and communication/ coordination with architects, civil engineers, suppliers etc.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... 2.1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la_1_home_1.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 3 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la_2_home.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... Residential intro .......... -->
<div style="color:#555">
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">
        2130 3rd Street Competition
    </h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                The Children's Center at UCSF will be an adaptive reuse of a previously converted 1940's era warehouse into office, clinical and research space for the pediatric and adolescent mental health services currently located at the UCSF Parnassus campus and the San Francisco General Hospital.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... 3.1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la_2_home_1.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>
 {% endblock %}
