{% extends "old/base_old_project.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
<!-- .......... Home Image .......... -->
<div class="uk-grid uk-container-center uk-text-center">
    <div style="height:100px"></div>
    <div class="uk-width-1-1">
        <p class="title-text">Landscape Arch</p>
    </div>
    <br>
    <br>
    <div class="uk-width-9-10 uk-container-center">
        <p class="font-el"><i>Urban & Farm • Thesis of Urban Space • Extrastructure • Residential Complex • Park Resiliency • Furniture</i></p>
    </div>
    <br>
    <br>
    <br>
    <div class="uk-width-small-9-10 uk-width-medium-4-10 uk-width-large-4-10 uk-container-center uk-grid font-el">
        <div class="uk-width-1-2 uk-padding-remove">
            <p>CATEGORY
                <br>
            <b>Landscape Arch. / Infographics</b></p>
        </div>
        <div class="uk-width-1-2 uk-padding-remove" style="border-left:1px solid #000">
            <p>DATE
            <br>
            <b>Since 2012</b></p>
        </div>
    </div>
</div>

<br>
<br>

<!-- .......... Home Image .......... -->
<div class="uk-clear-fix">
    <img src="{% static 'old_image/la1.png' %}" alt="">
</div>

<div style="height:20px">
</div>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la2.png' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la3.png' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

    <!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la4.png' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la5.png' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la6.png' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la7.png' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la8.png' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la9.png' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la10.png' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<br>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="resume">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/la11.png' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>
{% endblock %}
