{% extends "old/base_old_project.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
<!-- .......... Home Image .......... -->
<div class="uk-grid uk-container-center uk-text-center">
    <div style="height:100px"></div>
    <div class="uk-width-1-1">
        <p class="title-text">Hulu</p>
    </div>
    <br>
    <br>
    <div class="uk-width-9-10 uk-container-center">
        <p class="font-el"><i>Competitor Analysis • Key Stats Research • Interviews • Icon • Color • Typography • Outcome</i></p>
    </div>
    <br>
    <br>
    <br>
    <div class="uk-width-small-9-10 uk-width-medium-4-10 uk-width-large-4-10 uk-container-center uk-grid font-el">
        <div class="uk-width-1-2 uk-padding-remove">
            <p>CATEGORY
                <br>
            <b>UI / UX / Branding / Infographics</b></p>
        </div>
        <div class="uk-width-1-2 uk-padding-remove" style="border-left:1px solid #000">
            <p>DATE
            <br>
            <b>Apr. 2016</b></p>
        </div>
    </div>
</div>

<br>
<br>

<!-- .......... Home Image .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1" id="garden">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu01.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1" id="garden">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu02.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 2 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu03.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 3 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu04.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 4 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu11.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 5 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu12.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 5 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu_font.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 5 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu13.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 5 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu14.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 5 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu15.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 5 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu16.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 5 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu17.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 5 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/hulu21.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<div>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-large font-el" style="font-size:1.5vw;font-family:avenir">
                <a href="http://expandedramblings.com/index.php/hulu-statistics/" target="_blank">[1] 167 amazing hulu statistics</a>
                <br>
                <a href="http://www.inc.com/graham-rapier/millennials-infographic.html" target="_blank">[2] Traits of Millenials</a>
                <br>
                <a href="https://www.mediavillage.com/article/ott-netflix-hulu-and-amazon-audience-differences-bill-harvey-and-alex-petrilli/" target="_blank">[3] OTT: Netflix, Hulu, and Amazon Audience Differences</a> 
            </p>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}
