{% extends "old/base_old_project.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
<!-- .......... Home Image .......... -->
<div class="uk-grid uk-container-center uk-text-center">
    <div class="uk-width-1-1 uk-container" style="height:100px"></div>
    <div class="uk-width-1-1 uk-container uk-container-center">
        <p class="title-text">Package Design</p>
    </div>
    <br>
    <br>
    <div class="uk-width-9-10 uk-container-center uk-container">
        <p class="font-el"><i>Wearable Device • Milk • Tea • Candy</i></p>
    </div>
    <br>
    <br>
    <br>
    <div class="uk-width-small-9-10 uk-width-medium-4-10 uk-width-large-4-10 uk-container-center uk-grid font-el uk-padding-remove">
        <div class="uk-width-1-2 uk-padding-remove">
            <p>CATEGORY
                <br>
            <b>Branding / Illustration</b></p>
        </div>
        <div class="uk-width-1-2 uk-padding-remove" style="border-left:1px solid #000">
            <p>DATE
            <br>
            <b>Since 2008</b></p>
        </div>
    </div>
</div>

<br>
<br>

<!-- .......... Home Image .......... -->
<div class="uk-clear-fix">
    <img src="{% static 'old_image/smart_device_a.jpg' %}" alt="">
</div>

<!-- .......... Smart Device Intro .......... -->
<div id="collar" style="background-color:#FAFAFA;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">PetoYou Wearable Device Packaging</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                The wearing device, along with the fashionable collar, is a combination of tech and fashion.
                <br>
                <br>
                The challenge of the package design is to convey the image of both "tech" and a touch of fashion; being consistent with the line's look.
                <br>
                <br>
                The colors are limited to 2-- red and black. The iconic and fashionable quilted pattern has been applied on the box and the bag-- making it appealing to chic ladies as well.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... Smart Device .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/smart_device_b.jpg' %}" class="uk-vertical-align-center" id="petitag">
        </li>
    </ul>
</div>

<!-- ......... White stipe ........-->
<div style="height:10px">
</div>

<!-- .......... Milk Intro .......... -->
<div style="background-color:#F2F0F1;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">Redesign of Clover</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                Clover,as a local brand of diary products, has been striving to convey the image of "fresh", "organic" and "local".
                <br>
                <br>
                The challenge of the redesign is to use a simple and neat logo to improve the branding. 
                <br>
                <br>
                All elements are illustrated into icons; the icon of milk drop and location symbol are combined--indicating "where the milk's from". The pattern of the farm is abstracted as three lines. A cow and a piece of leaf is grouped, showing the fresh and organic aspect of the product.
                <br>
                <br>
                Due to the nature of milk, the color scheme is mainly white, helping customer to relate the product to pure milk. With some small highlights of mint green, the package looks fresh and healthy.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... Milk .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/milk_a.jpg' %}" class="uk-vertical-align-center" id="petitag">
        </li>
    </ul>
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/clover_sketch.jpg' %}" class="uk-vertical-align-center" id="petitag">
        </li>
    </ul>
</div>


<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/milk_b.jpg' %}" class="uk-vertical-align-center" id="petitag">
        </li>
    </ul>
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/milk_c.jpg' %}" class="uk-vertical-align-center" id="petitag">
        </li>
    </ul>
</div>


<!-- .......... Tea intro .......... -->
<div id="zhuyeqing" style="background-color:#EDEDED;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">Package Renovation</h1>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el subtitle-text" style="color:#555">Zhuyeqing Tea</h1>
    <br>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                Zhuyeqing Tea is a type of tea that origins in Sichuan, China. It has a long history and it is widely loved by tea lovers in Sichuan.
                <br>
                <br>
                The challenge here is renovating the old package by giving it a fresh look. A look that is ideal for a gift to people from other areas.</p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... tea .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/tea.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... Tea proecss intro .......... -->
<div style="color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el" style="font-size:200%;color:#555">Zhuyeqing Tea</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                What makes Zhuyeqing Tea special is the taste as well as the look. The “standing straight up” look has been emphasized on the cover of the package. 
                <br>
                <br>
                To lots of foreigners, Chinese tea pots are intriguing and they come in various forms. The idea of tea bags is based on that idea. People would be willing to collect them, just like stamps.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... tea process .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/tea_process.jpg' %}" class="uk-vertical-align-center" id="zhuyeqing">
        </li>
    </ul>
</div>


<!-- .......... tea sketch .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/tea_sketch' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... tea explode .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/tea_exploded_0.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... wedding candy .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/wedding_candy.jpg' %}" class="uk-vertical-align-center" id="weddingcandy">
        </li>
    </ul>
</div>

<!-- .......... Wedding Candy intro .......... -->
<div style="background-color:#F7F7F7;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">Wedding Candy</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                This is the package design for Chinese wedding candy. It has all the Chinese traditional elements, but designed with a modern twist.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>


<!-- .......... wedding candy detail .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/wedding_candy_detail.jpg' %}" class="uk-vertical-align-center" id="weddingcandy">
        </li>
    </ul>
</div>

<!-- .......... Wedding Candy Detail intro .......... -->
<div style="background-color:#F7F7F7;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el" style="font-size:200%;color:#555">Wedding Candy Jie & Chang</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                On the back, the bridegroom and bride's names Jie & Chang are written in various forms of calligraphy. This creates a unique pattern.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}
