{% extends "old/base_old_project.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
<!-- .......... Home Image .......... -->
<div class="uk-grid uk-container-center uk-text-center">
    <div style="height:100px"></div>
    <div class="uk-width-1-1">
        <p class="title-text">CATrait</p>
    </div>
    <br>
    <br>
    <div class="uk-width-9-10 uk-container-center">
        <p class="font-el"><i>Logo • Pattern • Color • Typography • Corporate Identity</i></p>
    </div>
    <br>
    <br>
    <br>
    <div class="uk-width-small-9-10 uk-width-medium-4-10 uk-width-large-4-10 uk-container-center uk-grid font-el">
        <div class="uk-width-1-2 uk-padding-remove">
            <p>CATEGORY
                <br>
            <b>Branding / Illustration</b></p>
        </div>
        <div class="uk-width-1-2 uk-padding-remove" style="border-left:1px solid #000">
            <p>DATE
            <br>
            <b>2016</b></p>
        </div>
    </div>
</div>

<br>
<br>

<!-- .......... Home Image .......... -->
<div class="uk-clear-fix">
    <img src="{% static 'old_image/personal_branding_0_home.jpg' %}" alt="">
</div>

<!-- .......... 1 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow id="collar">
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/personal_branding_1_intro.jpg' %}" class="uk-vertical-align-center" id="petitag">
        </li>
    </ul>
</div>


<!-- .......... 2 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/personal_branding_2_logo_inspirtation.jpg' %}" class="uk-vertical-align-center" id="petitag">
        </li>
    </ul>
</div>

<!-- .......... 3 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/personal_branding_3_logo_construction.jpg' %}" class="uk-vertical-align-center" id="petitag">
        </li>
    </ul>
</div>

<!-- .......... 4 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/personal_branding_4_pattern.jpg' %}" class="uk-vertical-align-center" id="petitag">
        </li>
    </ul>
</div>

<!-- .......... 5 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/personal_branding_5_typography.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>


<!-- .......... 6 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/personal_branding_6_logo_on_shirts.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 7 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/personal_branding_7_corporation_id2.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>
 {% endblock %}
