{% extends "old/base_old_project.html" %}
{% load staticfiles %}
{% load mathfilters %}

{% block content %}
<!-- .......... Home Image .......... -->
<div class="uk-grid uk-container-center uk-text-center">
    <div style="height:100px"></div>
    <div class="uk-width-1-1">
        <p class="title-text">Graphic Design</p>
    </div>
    <br>
    <br>
    <div class="uk-width-9-10 uk-container-center">
        <p class="font-el"><i>Poster • Package • Brochure • Marketing Set • Booklet</i></p>
    </div>
    <br>
    <br>
    <br>
    <div class="uk-width-small-9-10 uk-width-medium-4-10 uk-width-large-4-10 uk-container-center uk-grid font-el">
        <div class="uk-width-1-2 uk-padding-remove">
            <p>CATEGORY
                <br>
            <b>Branding / Illustration</b></p>
        </div>
        <div class="uk-width-1-2 uk-padding-remove" style="border-left:1px solid #000">
            <p>DATE
            <br>
            <b>Since 2008</b></p>
        </div>
    </div>
</div>

<br>
<br>

<!-- .......... Home Image .......... -->
<div class="uk-clear-fix">
    <img src="{% static 'old_image/0_home.jpg' %}" alt="">
</div>

<!-- .......... Tea intro .......... -->
<div id="zhuyeqing" style="background-color:#EDEDED;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">Package Renovation</h1>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el subtitle-text" style="color:#555">Zhuyeqing Tea</h1>
    <br>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                Zhuyeqing Tea is a type of tea that origins in Sichuan, China. It has a long history and it is widely loved by tea lovers in Sichuan.
                <br>
                <br>
                The challenge here is renovating the old package by giving it a fresh look. A look that is ideal for a gift to people from other areas.</p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... tea .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/tea.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... Tea proecss intro .......... -->
<div style="color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el" style="font-size:200%;color:#555">Zhuyeqing Tea</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                What makes Zhuyeqing Tea special is the taste as well as the look. The “standing straight up” look has been emphasized on the cover of the package. 
                <br>
                <br>
                To lots of foreigners, Chinese tea pots are intriguing and they come in various forms. The idea of tea bags is based on that idea. People would be willing to collect them, just like stamps.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... tea process .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/tea_process.jpg' %}" class="uk-vertical-align-center" id="zhuyeqing">
        </li>
    </ul>
</div>


<!-- .......... tea sketch .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/tea_sketch' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... tea explode .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/tea_exploded_0.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... wedding candy .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/wedding_candy.jpg' %}" class="uk-vertical-align-center" id="weddingcandy">
        </li>
    </ul>
</div>

<!-- .......... Wedding Candy intro .......... -->
<div style="background-color:#F7F7F7;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">Wedding Candy</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                This is the package design for Chinese wedding candy. It has all the Chinese traditional elements, but designed with a modern twist.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>


<!-- .......... wedding candy detail .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/wedding_candy_detail.jpg' %}" class="uk-vertical-align-center" id="weddingcandy">
        </li>
    </ul>
</div>

<!-- .......... Wedding Candy Detail intro .......... -->
<div style="background-color:#F7F7F7;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el" style="font-size:200%;color:#555">Wedding Candy Jie & Chang</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                On the back, the bridegroom and bride's names Jie & Chang are written in various forms of calligraphy. This creates a unique pattern.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... Carpenter Hong logo .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/4_carpenter_hong.jpg' %}" class="uk-vertical-align-center" id="weddingcandy">
        </li>
    </ul>
</div>

<!-- .......... Carpenter Hong intro .......... -->
<div style="color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">Carpenter Hong</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                “Carpenter Hong” is a traditional furniture manufacture company. Other than just middle-aged customers, the client wants the younger group to know more about Chinese traditional furniture.
                <br>
                <br>
                Changchang brings a fresh look to the branding media like business cards, paper bags, the catalogue and so on. Now it has the traditional element like “China Red” and “Calligraphy”, but at the same time, more lovable to the young group.


            </p>
        </div>
    </div>
    <br>
    <br>
</div>

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/4_carpenter_hong_1.jpg' %}" class="uk-vertical-align-center" id="weddingcandy">
        </li>
    </ul>
</div>


<!-- .......... 5 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/5_carpenter_hong.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... 6 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/6_carpenter_hong.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>


<!-- .......... Kaide intro .......... -->
<div style="background-color:#F1F0EE;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">CAPITAMALLS| TIANFU PLAZA</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                The client of this project is a real estate development company. The image they want to convey is “modern, edgy and neat”.
                <br>
                <br>
                The catalogue is clean but full of details; and the structure highly matches the style of the architecture.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... 7 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/7_kaide.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... Box .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/7_kaide_catalogue.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... Graduate intro .......... -->
<div style="background-color:#EDEDED;color:#555">
    <br>
    <br>
    <br>
    <h1 class="uk-text-large uk-text-center font-el title-text" style="color:#555">Break the Cocoon</h1>
    <br>
    <br>
    <div class="uk-grid"> 
        <div class="uk-width-medium-1-2 uk-width-large-1-2 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="font-size:120%">
                This is a series of graduation celebration posters. All three are consistent in style; the font is specially designed for the theme “Breaking the Cocoon”.
            </p>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- .......... Graduate 1 .......... -->

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/1_graduate.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

<!-- .......... Graduate 2 .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/2_graduate.jpg' %}" class="uk-vertical-align-center">
        </li>
    </ul>
</div>

  <!-- .......... Sports .......... -->
<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-slider-full-screen uk-grid-width-medium-1-1 uk-grid-width-large-1-1">
        <li class="uk-active uk-vertical-align uk-text-center">
            <img src="{% static 'old_image/3_sports.jpg' %}" class="uk-vertical-align-center" id="jinglang">
        </li>
    </ul>
</div>
{% endblock %}
