@media only screen and (orientation:portrait){
    #home-image {
    	width: 80%;
    }
}
 @media only screen and (orientation:landscape){
   #home-image {
    	width: 50%;
    }
}

#home-image-top {
    height: 5vh;
}
#home-image-div {
	height: 51vh;
}

.index-gif
{
    background-image: url(../image/Home_Collage_new.png);
}

a.link-button:link, a.link-button:visited, a.link-button:hover, a.link-button:active {
	background-color: #ea4c89;
	color: #ffffff;
	border-radius: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

#about {
	background-image: linear-gradient(305deg, #ca67b3, #ea4c89);
}

.project-thumbnail:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.project-title {
    font-size:130%;
}

.project-description {
    font-size:90%;
    margin-top: 0px;
}