* {
    box-sizing: border-box;
}

/* Responsive */
@media only screen and (orientation:portrait){
    .index-gif
    {
        background-image: url(../image/Home_Collage6.jpg);
    }
}
 @media only screen and (orientation:landscape){
    .index-gif
    {
        background-image: url(../image/Home_Collage6.jpg);
    }
}

body {
	border-style: solid;
	border-color: #ea4c89;
	border-width: 10px;
	height: 100vh;
	content: '';
	position: fixed;
	width: 100%;
}

#wrapper {
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	overflow: scroll;
}

#sticky-nav {
	width: 100%;
	height: 15vh;
	background: white;
}

.sticky-nav-active {
	background: white;
	z-index: 1000;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#home-image {
	height: 85vh;
}

#logo-image {
	background-image: url(../image/changchang_logo.png);
	background-repeat: no-repeat;
	background-color: white;
    background-size: contain;
    width: 15vh;
    height: 95%;
    background-position: center center;
}

a.link-button:link, a.link-button:visited, a.link-button:hover, a.link-button:active {
	background-color: #ea4c89;
	color: #ffffff;
	border-radius: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.sticky-nav-link-active {
	border-bottom-style: solid;
	border-bottom-color: #ea4c89;
	border-bottom-width: 2px;
}

#about {
	background-image: linear-gradient(305deg, #ca67b3, #ea4c89);
}