{% load static %}

<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Changchang Liu's personal page. Changchang Liu is a Landscape designer and visual designer. She is also the creator of Catrait."/>
        <meta name="keywords" content="Landscape Architecture, Changchang Liu, Changchang, Landscape Designer, Visual Designer">
        <title>Changchang Liu</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="stylesheet" href="{% static 'css/uikit.docs.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/logo.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/components/slider.js' %}"></script>
        <script src="{% static 'js/components/lightbox.js' %}"></script>
        <script src="{% static 'js/components/grid.min.js' %}"></script>
        <script src="{% static 'js/components/sticky.js' %}"></script>
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>

</html>