{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
<!-- .......... design-challenge-title-section .......... -->
<div id="design-challenge-title-section" class="uk-vertical-align uk-text-center project-orange-background" style="height:379px;">
    <div class="uk-container-center uk-vertical-align-middle">
        <h4 class="uk-text-large uk-text-center title-text"><b style="color:#fff">Daily Design Challenge</b></h4>
        <p class="uk-text-center" style="color:#fff">from uisdc.com | 2017</p>
        <br>
        <div class="uk-container-center uk-flex uk-flex-middle uk-flex-center">
            <span class="project-title-category-span">UI / UX</span>
            <span class="project-title-category-span">illustration</span>
        </div>
    </div>
</div> <!-- div #design-challenge-title-section -->

<!-- .......... Overview .......... -->
<div class="uk-container-center uk-text-center uk-width-3-4 uk-width-medium-1-2">
    <br><br>
    <p class="uk-text-center uk-text-large"><b>Overview</b></p>

    <p class="uk-text-left">As a designer, the last thing I want to see is that I’ve lost passion in designing; or stopped being curious about new trends and techiniques.<br>
    I was thirlled discovering  the daily design challenge held by uisdc.com. Designers from all over the world (US, UK, China, Norway...) would take the same design challenge, and then have a session looking at everyone’s approaches.<br>
    Loved it!</p>
    <br><br>
</div>

<!-- .......... Separator .......... -->
<div class="project-separator-bar-div">
</div>

<!-- .......... Demos ..........-->
<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#1<span><br>Design A Font, AND Make It to A Logo (Plant Tech)</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-yizhi.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#2<span><br>Create an Illustration, AND Design It Into A Weather App</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-weather-app.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#3<span><br>Create 2 Illustrations, AND Design Them Into App Intro and Banner</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-nextdoor.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#4<span><br>Create Graph Line in Ai, AND Design It Into an App Interface</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-finance-app.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#5<span><br>Create 3D Objects in Ai, AND Design It Into an App Interface</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-gift-card-app-redesign.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#6<span><br>Show the Process of Designing a Figure Using MBE Style</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-capricorn-illustration.png' %}">
    <img src="{% static 'image/project-capricorn-sketch.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#7<span><br>Design a Pixel Figure in Ps AND Make It Into a GIF</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-pixel-graphic-corgi.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#8<span><br>Design a Set of Objects Using the Same Style</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-bag-icons.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#9<span><br>Design a Set of Objects Using the Same Style V2</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-icon-style-explorations.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#10<span><br>Design a Set of Objects AND Make Them Into a Scene</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-combo-mono.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#11<span><br>Apply Colors to The Scene Created in #10</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-combo-color.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#12<span><br>Draw An Axe, Pay Attention to Textures Different Mateials</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-indian-axe-rendering.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#13<span><br>Design A Set of Icons for Mobile Interface</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img class="uk-margin-bottom" src="{% static 'image/project-mobile-icon.png' %}">
    <img class="uk-margin-bottom" src="{% static 'image/project-mobile-icon-camera.png' %}">
    <img class="uk-margin-bottom" src="{% static 'image/project-mobile-icon-settings.png' %}">
    <img class="uk-margin-bottom" src="{% static 'image/project-mobile-icon-contacts.png' %}">
    <img src="{% static 'image/project-mobile-icon-email.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#14<span><br>Based on #13, Design An Unconventional Unlocking Experience</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-mobile-unlocking.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#15<span><br>Pick an App, AND Redesign its Popup Dialog</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-mobile-popup.png' %}">
</div>

<div class="uk-text-center uk-container-center">
    <p class="uk-text-bold"><span class="project-orange-text">#16<span><br>Do An Illustration!</p>
</div>

<div class="uk-container-center uk-width-3-4 uk-width-medium-1-2 uk-margin-large-bottom">
    <img src="{% static 'image/project-illustration-group-photo.png' %}">
</div>

{% endblock %}