{% extends "base.html" %}
{% load static%}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src="{% static 'js/changchang/index.js' %}"></script>
{% endblock %}

{% block content %}
<!-- .......... Home Image .......... -->
<div id="home-image-top"></div>
<div id="home-image-div"><div id="home-image" class="uk-clear-fix uk-cover-background index-gif uk-height-1-1 uk-container-center"></div></div>
<br>
<div style="height:28vh"><div style="width:80%;line-height:1.4" class="home-image-text uk-text-center uk-container-center">I’m <b style="color:#ea4c89">Changchang</b>,<br>a <b style="color:#ea4c89">Lead Designer</b> who’s been designing since <b style="color:#ea4c89">2008</b>.</div></div>
<!-- .......... Work .......... -->
<div id="work">
    <br><br>
    <h4 class="uk-text-large uk-text-center font-el title-text"><b>Work</b></h4>
    <br><br>
</div> <!-- div #work -->

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom uk-width-8-10 font-el uk-text-center" id="work-filter-div" style="display:none">
    <ul id="work-filter" class="uk-subnav uk-subnav-pill" style="width:auto;display:inline-block">
        <li data-uk-filter="base-filter" class="uk-hidden"><a href="#" id="base-filter-a"># Base</a></li>
        <li data-uk-filter="all-filter"><a href="#" id="all-filter-a"># All</a></li>
        <li data-uk-filter="ui-ux-filter"><a href="#"># UI/UX</a></li>
        <li data-uk-filter="branding-filter"><a href="#"># Branding</a></li>
        <li data-uk-filter="illustration-filter"><a href="#"># Illustration</a></li>
        <li data-uk-filter="infographics-filter"><a href="#"># Infographics</a></li>
        <li data-uk-filter="landscape-filter"><a href="#"># Landscape</a></li>
    </ul>
</div>

<!-- .......... Thumbnails ..........-->
<div class="uk-container uk-container-center uk-width-8-10" id="demos" style="height: auto">
    <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-3 uk-grid-width-xlarge-1-4" data-uk-grid="{gutter:20, animation:false, controls: '#work-filter'}">
        
        {% for thumbnail in thumbnails %}
        <div data-uk-filter="{{ thumbnail.filter }}">
            <figure class="uk-overlay project-thumbnail">
                <img height="350" src="{% static 'image/'|add:thumbnail.image %}" alt="">
<!--
// Decision was to remove figure caption but embed text into the image.
               <figcaption class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
                   <div>
                       <b class="uk-text-medium project-title" style="color:{% if thumbnail.color %}{{ thumbnail.color }}{% else %}#fff{% endif %}">{{ thumbnail.title }}</b>
                       <p class="uk-text-small project-description" style="color:{% if thumbnail.color %}{{ thumbnail.color }}{% else %}#fff{% endif %}">{{ thumbnail.subtitle }}</p>
                   </div>
                </figcaption>
-->
                <a class="uk-position-cover" href="{{ thumbnail.url }}"></a>
            </figure>
        </div>
        {% endfor %}
        
    </div>
</div>

<div class="uk-text-center" id="see-more">
    <div style="height: 8vh"></div>
	<a id="see-more-button" class="uk-text-center link-button" style="font-weight: bold">See More</a>
    <div style="height: 8vh"></div>
</div>

<!-- .......... About ..........-->
<div id="about">
	<br>
    <h4 class="uk-text-large uk-text-center font-el title-text"><b style="color:#fff;">About</b></h4>
    <br>
    <div class="uk-container-center" style="height:120px;width:120px"><img src="{% static 'image/portrait-thumbnail-new.jpg' %}" style="-webkit-clip-path:circle(50%); clip-path:circle(50%);"></div>
    <div class="uk-grid uk-width-8-10 uk-container-center" style="border-radius:36px; background-color:#fff;box-shadow: 0 4px 30px 0 #961949;margin-top:-60px">
        <div class="uk-width-8-10 uk-width-small-3-4 uk-width-medium-3-4 uk-width-large-3-4 uk-container-center uk-text-center uk-padding-remove">
            <p class="uk-text-left font-el" style="margin-top:80px;margin-bottom:0px;">
                Changchang is a self-motivated, versatile and passionate designer who’s been developing impactful design since 2008. She believes in egoless collaboration, unstoppable grit, the infinite exquisiteness...<br><br>
            And above all, empathy.<br><br>
            Experienced in Product Design. Advanced skills in content/ media/ streaming platform design.<br><br>
            When I’m not working, I like spending time with my 👦🏻 & 😸😾, cooking 👩🏻‍🍳, and painting 👩🏻‍🎨.
                <a id="about-see-more-link" style="color:#ea4c89;text-decoration:underline;font-weight:bold;">SEE MORE</a>
            </p>
            <div style="height: 7vh"></div>
            <div id ="about-detail-image" style="display:none;">
                <img src="{% static 'image/about-detail-image.jpg' %}" />
                <div style="height: 7vh"></div>
            </div>
            <div>
                <a class="link-button" href="{% static 'documents/Changchang_resume_2022.pdf' %}" style="font-weight: bold">DOWNLOAD RESUME</a>
                <div style="height: 8vh"></div>
            </div>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}