{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
<!-- .......... Home Image .......... -->
<div id="home-image-div"><div id="home-image" class="uk-clear-fix uk-cover-background index-gif uk-height-1-1 uk-container-center"></div></div>
<div style="height:28vh;" class="home-image-text uk-text-center uk-margin-top"><p>Hi— I’m <b style="color:#ea4c89">Changchang</b>,</p><p>a cat-loving UI designer.</p></div>

<!-- .......... Work .......... -->
<div id="work">
    <br><br>
    <h4 class="uk-text-large uk-text-center font-el title-text"><b>Work</b></h4>
    <br><br>
</div> <!-- div #work -->
    
<!-- .......... Demos ..........-->
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom uk-width-8-10">
    <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-3 uk-grid-width-xlarge-1-4" data-uk-grid="{gutter:20, controls: '#work-filter'}">

        <div data-uk-filter="ui-ux-filter, branding-filter, all-filter">
            <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio-petoyou.jpg' %}" alt="">
               <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                   <div><b class="uk-text-large project-title">PEToYOU</b><br><p class="uk-text-medium project-description">Branding | UI/UX | Graphic design</p></div>
                </figcaption>
                <a class="uk-position-cover" href="petoyou.html"></a>
            </figure>
        </div>

        <div data-uk-filter="ui-ux-filter, branding-filter, infographics-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/hulu_thumbnail2.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Hulu Redesign</b><br><p class="uk-text-medium project-description">UI/UX</p></div>
                </figcaption>
                <a class="uk-position-cover" href="LeECO_Design_Challenge.html"></a>
            </figure>
        </div>

        <div data-uk-filter="ui-ux-filter, all-filter">
            <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/skype_cover.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Skype UI Redesign</b><br><p class="uk-text-medium project-description">UI/UX</p></div>
                </figcaption>
                <a class="uk-position-cover" href="skype.html"></a>
            </figure>
        </div>

        <div data-uk-filter="illustration-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio7.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Fine Art</b></div>
                </figcaption>
                <a class="uk-position-cover" href="fine_art.html"></a>
            </figure>
        </div>

        <div data-uk-filter="illustration-filter, branding-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio4.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Package Design</b></div>
                </figcaption>
                <a class="uk-position-cover" href="package.html"></a>
            </figure>
        </div>

        <div data-uk-filter="illustration-filter, landscape-filter, infographics-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio5.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Infographics</b></div>
                </figcaption>
                <a class="uk-position-cover" href="infographics.html"></a>
            </figure>
        </div>
    
        <div data-uk-filter="illustration-filter, infographics-filter, landscape-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio6.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Wabash Visualization</b><br><p class="uk-text-medium project-description">Data | History | Culture</p></div>
                </figcaption>
                <a class="uk-position-cover" href="wabash.html"></a>
            </figure>
        </div>

        <div data-uk-filter="ui-ux-filter, illustration-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio9.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Chummy</b><br><p class="uk-text-medium project-description">UI | UX</p></div>
                </figcaption>
                <a class="uk-position-cover" href="chummy.html"></a>
            </figure>
        </div>
    </div>
</div>

<div class="uk-text-center">
	<a class="uk-text-center link-button" href="work">See More</a>
</div>

<br><br><br>

<!-- .......... About ..........-->
<div id="about">
	<br>
    <h4 class="uk-text-large uk-text-center font-el title-text"><b style="color:#fff;">About</b></h4>
    <br>
    <div class="uk-container-center" style="height:180px;width:180px"><img src="{% static 'image/portrait-thumbnail-new.png' %}"></div>
    <div class="uk-grid uk-width-8-10 uk-container-center" style="border-radius:36px; background-color:#fff;box-shadow: 0 4px 30px 0 #961949;margin-top:-90px">
        <div class="uk-width-medium-3-4 uk-width-large-3-4 uk-width-small-8-10 uk-container-center">
            <p class="uk-text-left uk-text-large font-el" style="margin-top:118px;margin-bottom:118px;">Changchang is a self-motivated, versatile and passionate designer with over 7 years developing impactful design.
                <br><br>She focuses on human engagement, creative strategy and visualization.<br>She believes in egoless collaboration, unstoppable grit, the infinite exquisiteness and above all, <b>empathy</b>.</p>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}