{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
<!-- .......... Work .......... -->
<div id="work">
    <br><br>
    <h4 class="uk-text-large uk-text-center title-text"><b>Work</b></h4>
    <br><br>
</div> <!-- div #work -->

<!-- .......... Filter Controls .......... -->
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom uk-width-8-10 uk-text-center">
    <ul id="work-filter" class="uk-subnav uk-subnav-pill" style="width:auto;display:inline-block">
        <li data-uk-filter="all-filter" class="uk-active"><a href="#"># All</a></li>
        <li data-uk-filter="ui-ux-filter"><a href="#"># UI/UX</a></li>
        <li data-uk-filter="branding-filter"><a href="#"># Branding</a></li>
        <li data-uk-filter="illustration-filter"><a href="#"># Illustration</a></li>
        <li data-uk-filter="infographics-filter"><a href="#"># Infographics</a></li>
        <li data-uk-filter="landscape-filter"><a href="#"># Landscape</a></li>
    </ul>
</div> <!-- Filter Controls -->
    
<!-- .......... Demos ..........-->
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom uk-width-8-10">
    <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-3 uk-grid-width-xlarge-1-4" data-uk-grid="{gutter:20, controls: '#work-filter'}">

        <!-- First Row of Demos -->
        <div data-uk-filter="ui-ux-filter, branding-filter, all-filter">
            <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio-petoyou.jpg' %}" alt="">
               <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                   <div><b class="uk-text-large project-title">PEToYOU</b><br><p class="uk-text-medium project-description">Branding | UI/UX | Graphic design</p></div>
                </figcaption>
                <a class="uk-position-cover" href="petoyou.html"></a>
            </figure>
        </div>

        <div data-uk-filter="ui-ux-filter, branding-filter, infographics-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/hulu_thumbnail2.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Hulu Redesign</b><br><p class="uk-text-medium project-description">UI/UX</p></div>
                </figcaption>
                <a class="uk-position-cover" href="LeECO_Design_Challenge.html"></a>
            </figure>
        </div>

        <div data-uk-filter="ui-ux-filter, all-filter">
            <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/skype_cover.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Skype UI Redesign</b><br><p class="uk-text-medium project-description">UI/UX</p></div>
                </figcaption>
                <a class="uk-position-cover" href="skype.html"></a>
            </figure>
        </div>

        <!-- Second Row of Demos-->
        <div data-uk-filter="illustration-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio7.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Fine Art</b></div>
                </figcaption>
                <a class="uk-position-cover" href="fine_art.html"></a>
            </figure>
        </div>

        <div data-uk-filter="illustration-filter, branding-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio4.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Package Design</b></div>
                </figcaption>
                <a class="uk-position-cover" href="package.html"></a>
            </figure>
        </div>

        <div data-uk-filter="illustration-filter, landscape-filter, infographics-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio5.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Infographics</b></div>
                </figcaption>
                <a class="uk-position-cover" href="infographics.html"></a>
            </figure>
        </div>
    
    
        <!-- Third Row of Demos-->
        <div data-uk-filter="illustration-filter, infographics-filter, landscape-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio6.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Wabash Visualization</b><br><p class="uk-text-medium project-description">Data | History | Culture</p></div>
                </figcaption>
                <a class="uk-position-cover" href="wabash.html"></a>
            </figure>
        </div>

        <div data-uk-filter="ui-ux-filter, illustration-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio9.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Chummy</b><br><p class="uk-text-medium project-description">UI | UX</p></div>
                </figcaption>
                <a class="uk-position-cover" href="chummy.html"></a>
            </figure>
        </div>


        <div  data-uk-filter="branding-filter, illustration-filter, all-filter">
            <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio10.jpg' %}" alt="">
               <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                   <div><b class="uk-text-large project-title">Graphic Design</b></div>
                </figcaption>
                <a class="uk-position-cover" href="product_design.html"></a>
            </figure>
        </div>
    
        <!-- Fourth Row of Demos-->
        <div data-uk-filter="branding-filter, illustration-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio2.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">CATrait <br>by <br> Changchang</b><br><p class="uk-text-medium project-description">Drawing | UI/UX | Branding</p></div>
                </figcaption>
                <a class="uk-position-cover" href="catrait.html"></a>
            </figure>
        </div>

        <div data-uk-filter="branding-filter, illustration-filter, all-filter">
             <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio_personal_branding.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Personal Branding</b><br><p class="uk-text-medium project-description">Branding</p></div>
                </figcaption>
                <a class="uk-position-cover" href="personal_branding.html"></a>
            </figure>
        </div>

        <div data-uk-filter="landscape-filter, infographics-filter, all-filter">
            <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio3.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">Landscape Arch.</b></div>
                </figcaption>
                <a class="uk-position-cover" href="landscape.html"></a>
            </figure>
        </div>
            
        <div data-uk-filter="branding-filter, illustration-filter, all-filter">
            <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/portfolio-petoyou-fashion.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">PETiTAG</b><br><p class="uk-text-medium project-description">Branding | Illustration</p></div>
                </figcaption>
                <a class="uk-position-cover" href="petoyou_fashion.html"></a>
            </figure>
        </div>
        
        <div data-uk-filter="ui-ux-filter, all-filter">
            <figure class="uk-overlay uk-overlay-hover">
                <img height="350" src="{% static 'image/thumbnail_leantaas.jpg' %}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div><b class="uk-text-large project-title">LeanTaaS</b><br><p class="uk-text-medium project-description">UI/UX</p></div>
                </figcaption>
                <a class="uk-position-cover" href="leantaas.html"></a>
            </figure>
        </div>
    </div>
</div>

{% endblock %}